*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
htm, .container,
body{
    font-family: 'Barlow Semi Condensed',sans-serif;  
    font-size: 13px;
    position: relative;
}
img{
    margin-right: 17px;
    width: 28px;
    height: 28px;
    border-radius:50%;
    border: 2px solid white;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
p{
    font-size: 11px;
}
h1{
    margin: 14px auto;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}
h2{
    font-size: 13px;
}
.container{
    width: 100%;
    height: 100vh;
}
.article{
    padding: 32px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.article-author-content{
    display: inline-block;
}
.article-content p{
    font-size: 13px;
    line-height: 18px;
}

/*
- Mobile: 375px
- Desktop: 1440px;
- Font Weights: 500, 600
Note for text colors:

1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity

*/